<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>"graph"</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
</head>

<body>
  <center>
    <h1>"WaterFlow Graph"</h1>

    <canvas id="chart" width="600" height="400"></canvas>
    <script>
      // bar chart data
      var barData = {
        labels : ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
        datasets : [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(151,187,205,1)",
          bezierCurve : false,
          data : []
      }]}
      Chart.defaults.global.animationSteps = 50;
      Chart.defaults.global.tooltipYPadding = 16;
      Chart.defaults.global.tooltipCornerRadius = 0;
      Chart.defaults.global.tooltipTitleFontStyle = "normal";
      Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
      Chart.defaults.global.animationEasing = "easeOutBounce";
      Chart.defaults.global.responsive = true;
      Chart.defaults.global.scaleLineColor = "black";
      Chart.defaults.global.scaleFontSize = 16;
      // get bar chart canvas
      var mychart = document.getElementById("chart").getContext("2d");
      steps = 10
      max = 30
      // draw chart
      //const source = new EventSource("/chart-data");

      var LineChartDemo = new Chart(mychart).Line(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true,
        bezierCurve: false,
      });

//       const source = new EventSource("/send-data");
//       source.addEventListener('graph', function(event) {
//         var data = JSON.parse(event.data);
//         if (barData.datasets[0].data.length === 10) {
//                 //config.data.labels.shift();
//                 barData.datasets[0].data.shift();
//             }
//             //config.data.labels.push(data.time);
//             barData.datasets[0].data.push(parseInt(data.value));
//             LineChartDemo.update();
//         }
//       }, false);

      var source = new EventSource("/send-data?data=10");
      
      source.onmessage=function(event) {
          //alert("received in js");
          const data = JSON.parse(event.data);
          console.log(data.value);
          if (barData.datasets[0].data.length === 10) {
              barData.datasets[0].data.shift();
          }
          barData.datasets[0].data.push(parseInt(data.value));
          LineChartDemo.update();
      }


    </script>
  </center>
</body>
</html>
